// =============================================================================
// = Media Object
// =============================================================================
//
//
//

.o-media {
  display: flex;
  align-items: flex-start;

  &__image {
    margin-right: rem(10px);
  }

  &__content {
    flex: 1;
  }
}
