// =============================================================================
// = Media Block
// =============================================================================
// 
// Add the class o-equal-height at the parent element, and then o-equal-height__item to each item inside to make it all stretched to the same height
//
.o-media {
  display    : flex;
  align-items: flex-start;

  &__image {
    margin-right: rem(10px);
  }

  &__content {
    flex: 1;
  }
}
