// =============================================================================
// = Images
// =============================================================================

.responsive-img {
  display  : block;
  height   : auto;
  max-width: 100%;
}

.full-image {
  min-width: 100%;
}
