// =============================================================================
// = Images
// =============================================================================

.responsive-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.full-image {
  min-width: 100%;
}
