// =============================================================================
// = Buttons
// =============================================================================

// =================
// = Button Filled =
// =================
.btn {
  display: inline-block;
  padding: em(10px 25px);
  border-radius: $base-radius;
  background-color: color('purple');
  color: #fff;
  font-size: fsize('small');
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:hover {
    background-color: darken(color('purple'), 5%);
  }

  &.is--loading {
    position: relative;

    span {
      opacity: 0;
    }
    @include preloader(18px, 2px, white, absolute);

    &::before {
      margin: 2px 2px 2px -9px;
    }
  }
}

// ==================
// = Button Outline =
// ==================
.btn-outline {
  @extend .btn;
  padding: em(8px 25px);
  border: 2px solid color('purple');
  background-color: transparent;
  color: color('purple');

  &:hover {
    background-color: color('purple');
    color: white;
  }
}

// =================
// = Button Sizes =
// =================
.btn--small {
  @extend .btn;
  padding: em(5px 20px);
  font-size: fsize('small');
}
