// =============================================================================
// = Tables
// =============================================================================

// ================
// = Fixed Layout =
// ================
.table-fixed {
  table-layout: fixed;
}

// ================
// = Styled Table =
// ================
.styled-table {
  border: 1px solid color('linegrey');

  thead {
    border-bottom: 1px solid color('linegrey');
    background-color: color('softgrey');
    font-weight: $bold;
  }

  td {
    padding: rem(15px);
    border-right: 1px solid color('linegrey');
  }

  tbody {
    tr {
      border-bottom: 1px solid color('linegrey');
    }
  }
}
