// =============================================================================
// = Project Setup
// =============================================================================
//
// For better performance as the result of a lower file size, select the items that you want to include in your projects.
//
//
//
//
// Set up the base font size for your project.
// If you want you can change the line height.

$base-font-size: 16px !default;
$line-height-ratio: 1.5 !default;
$base-line-height: $base-font-size * $line-height-ratio !default;

// =========================
// = Flexbox Grid Settings =
// =========================
$generate-flexbox-grid: true;
$generate-flexbox-grid-offsets: false;
$grid-columns: 12 !default;
$grid-columns-mobile: 4 !default;
$gutter-width: 15px !default;
$container-desktop-padding: 30px !default;
$container-mobile-padding: 15px !default;
$row-max-width: 1180px !default;

// ===============
// = Breakpoints =
// ===============
// Each breakpoint defined here will be accessible with the 'breakpoint' mixin.
$responsive-breakpoints: (
  mobile: rem(767px),
  tablet: rem(1024px)
);

// ===============
// = Font Styles =
// ===============
$basetypeface: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 600;

// ==============
// = Font Sizes =
// ==============
// Each font size defined here will be accessible with 'fsize' function.
$font-sizes: (
  'xxlarge': 48px,
  'xlarge': 32px,
  'large': 24px,
  'medium': 18px,
  'base': 16px,
  'small': 14px,
  'xsmal': 12px
);

// ==========
// = Colors =
// ==========
// Each color defined here will be accessible with 'color' function.
$base-colors: (
  'darkblack': #363e47,
  'softblack': #546673,
  'linegrey': #d5dee3,
  'white': #fff,
  'purple': #52489c,
  'blue': #4062bb,
  'green': #59c3c3,
  'red': #f45b69
);


// ===========
// = Helpers =
// ===========
// Generate font size classes for each one defined in
$generate-font-helpers: true;

// Generate font size classes for each one defined in
$generate-color-helpers: true;

// Generate font size classes for each one defined in
$generate-spacing-helpers: true;


$base-radius: 4px !default;
$base-transition: .25s !default;
$outline-button-border-width: 2px;
