section.doc-block
  h2.doc-block__main-title The Grid
  .doc-block__description
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  h3.doc-block__subtitle Markup
  .doc-block__description
    p The markup is pretty simple

  .grid-demo
    .row
      .col
        .grid-demo__item
      .col
        .grid-demo__item
      .col
        .grid-demo__item
      .col
        .grid-demo__item


  .grid-demo
    .row.end-desktop
      .col6of12
        .grid-demo__item


  .grid-demo
    .row.end-desktop
      .col6of12
        .grid-demo__item
      .col
        .grid-demo__item
      .col
        .grid-demo__item

  h3.doc-block__subtitle Simple markup
  pre
    code(class="language-html")
      | '<div class="grid-demo"></div>'
      |  .row
      |    .col
      |      .grid-demo__item
      |    .col
      |      .grid-demo__item
      |    .col
      |      .grid-demo__item
      |    .col
      |      .grid-demo__item
