// =============================================================================
// = Base Layout
// =============================================================================
//
// ===========
// = General =
// ===========

html {
  @include prefix(box-sizing, border-box, moz webkit);
  @include rem-baseline;
  min-height: 100%;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
}

* {
  &,
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

body {
  background-color: white;
  color: color('softblack');
  font-family: $basetypeface;
  font-weight: $normal;
}

body,
button,
input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  width: 100%;
}

a {
  @include prefix(transition, all $base-transition ease);
  color: color('purple');
  text-decoration: none;
}

::-moz-selection,
::-webkit-selection,
::selection {
  background-color: color('secondary');
}
