// =============================================================================
// = Base Layout
// =============================================================================
//
// ===========
// = General =
// ===========

html {
  @include prefix(box-sizing, border-box, moz webkit);
  @include rem-baseline;
  min-height: 100%;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;

  &,
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

body {
  background-color: white;
  color: color('softblack');
  font-family: $basetypeface;
  font-weight: $normal;
}

body,
button,
input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  @include prefix(transition, all $base-transition ease);
  color: color('purple');
  text-decoration: none;
}

::selection {
  background: color('purple');
  color: white;
}

::-moz-selection {
  background: color('purple');
  color: white;
}
