// =============================================================================
// = Base Layout
// =============================================================================
//
// ===========
// = General =
// ===========

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing   : border-box;
  box-sizing        : border-box;
}

* {
  &,
  &:after,
  &:before {
    box-sizing: inherit;
  }
}

html {
  @include rem-baseline();
  line-height   : $base-line-height;
  min-height    : 100%;
  text-rendering: optimizeLegibility;
}

body {
  font-family     : $basetypeface;
  font-weight     : $normal;
  background-color: white;
  color           : color('softblack');
}

body,
button,
input {
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  width: 100%;
}

a {
  color          : color('purple');
  text-decoration: none;
  @include prefix(transition, all $base-transition ease);
}

::-moz-selection,
::-webkit-selection,
::selection {
  background-color: color('secondary');
}
